body {
  background-color: rgb(77, 77, 77);
}
.board-row, .status {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.board {
  width: fit-content;
  margin: 12px;

}

.status {
  font-size: xx-large;
  color: white;
}

.square {
  font-weight: bold;
  font-size: xx-large;
  margin: 0.22px;
  border-radius: 3px;
  background-color: rgb(180,180,180);
  width: 80px;
  height: 80px;
}
  
